@import 'tailwindcss';

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
